<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование пользователя</title>
</head>
<body>
<form th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}" th:method="patch">
    <table border="1">
        <tr>
            <td><label for="username">Введите имя: </label></td>
            <td><input type="text" th:field="*{username}" id="username"/>
                <div style="color: red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">error</div>
            </td>
        </tr>
        <tr>
            <td><label for="age">Введите возраст: </label></td>
            <td><input type="number" th:field="*{age}" id="age"/>
                <div style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">error</div>
            </td>
        </tr>
        <tr>
            <td><label for="city">Введите город: </label></td>
            <td><input type="text" th:field="*{city}" id="city"/>
                <div style="color: red" th:if="${#fields.hasErrors('city')}" th:errors="*{city}">error</div>
            </td>
        </tr>
        <tr>
            <td><label for="email">Введите Email: </label></td>
            <td><input type="text" th:field="*{email}" id="email"/>
                <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">error</div>
            </td>
        </tr>
        <tr>
            <td><label for="password">Введите пароль: </label></td>
            <td><input type="text" th:field="*{password}" id="password"/>
                <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">error</div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <ul>
                    <li>
                        <input id="1" name="roles" type="checkbox" th:field="*{roles}" value="ROLE_ADMIN"/>
                        <label for="1">Администратор</label>
                    </li>
                    <li>
                        <input id="2" name="roles" type="checkbox" th:field="*{roles}" value="ROLE_USER"/>
                        <label for="2">Пользователь</label>
                    </li>
                </ul>
                <div style="color: red" th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}">error</div>
            </td>
        </tr>
    </table>
    <br>
    <input type="submit" value="Обновить"/>
    <input type="button" onclick="history.back();" value="Назад">
</form>
</body>
</html>