<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новый пользователь</title>
</head>
<body>
<form th:action="@{/admin}" th:object="${user}" th:method="post" >
    <table border="1">
        <tr>
            <td><label for="username">Введите имя: </label></td>
            <td><input type="text" th:field="*{username}" id="username"/>
                <div style="color: red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">error</div>
            </td>
        </tr>
        <tr>
            <td><label for="age">Введите возраст: </label></td>
            <td><input type="number" th:field="*{age}" id="age"/>
                <div style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">error</div>
            </td>
        </tr>
        <tr>
            <td><label for="city">Введите город: </label></td>
            <td><input type="text" th:field="*{city}" id="city"/>
                <div style="color: red" th:if="${#fields.hasErrors('city')}" th:errors="*{city}">error</div>
            </td>
        </tr>
        <tr>
            <td><label for="email">Введите Email: </label></td>
            <td><input type="text" th:field="*{email}" id="email"/>
                <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">error</div>
            </td>
        </tr>
        <tr>
            <td><label for="password">Введите пароль: </label></td>
            <td><input type="text" th:field="*{password}" id="password"/>
                <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">error</div>
            </td>
        </tr>
    </table>
    <br>
    <input type="submit" value="Создать"/>
    <input type="button" onclick="history.back();" value="Назад">
</form>
</body>
</html>